<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>authfilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryList</servlet-name>
        <servlet-class>controller.CategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermissionController</servlet-name>
        <servlet-class>controller.PermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPermissionController</servlet-name>
        <servlet-class>controller.AddPermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePermissionController</servlet-name>
        <servlet-class>controller.DeletePermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceController</servlet-name>
        <servlet-class>controller.ResourceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteResourceController</servlet-name>
        <servlet-class>controller.DeleteResourceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermissionRoleController</servlet-name>
        <servlet-class>controller.PermissionRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoleController</servlet-name>
        <servlet-class>controller.DeleteRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleController</servlet-name>
        <servlet-class>controller.RoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoleController</servlet-name>
        <servlet-class>controller.AddRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>controller.DepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDepartmentController</servlet-name>
        <servlet-class>controller.DeleteDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailDepartmentController</servlet-name>
        <servlet-class>controller.DetailDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnitServlet</servlet-name>
        <servlet-class>controller.UnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierController</servlet-name>
        <servlet-class>controller.SupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierController</servlet-name>
        <servlet-class>controller.DeleteSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>controller.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>controller.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>controller.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaterialsServlet</servlet-name>
        <servlet-class>controller.GetMaterialsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>controller.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupplierController</servlet-name>
        <servlet-class>controller.UpdateSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoPermissionController</servlet-name>
        <servlet-class>controller.NoPermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaterialCategoryServlet</servlet-name>
        <servlet-class>controller.GetMaterialCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubUnitServlet</servlet-name>
        <servlet-class>controller.SubUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryAuditController</servlet-name>
        <servlet-class>controller.InventoryAuditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditListController</servlet-name>
        <servlet-class>controller.AuditListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryAuditDetailController</servlet-name>
        <servlet-class>controller.InventoryAuditDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveAuditController</servlet-name>
        <servlet-class>controller.ApproveAuditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryHistoryServlet</servlet-name>
        <servlet-class>controller.InventoryHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportNoteListServlet</servlet-name>
        <servlet-class>controller.ExportNoteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackOrderServlet</servlet-name>
        <servlet-class>controller.BackOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controller.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialMonthlyStatsController</servlet-name>
        <servlet-class>controller.MaterialMonthlyStatsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryList</servlet-name>
        <url-pattern>/categorylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>MaterialDAO.java</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermissionController</servlet-name>
        <url-pattern>/permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPermissionController</servlet-name>
        <url-pattern>/addpermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePermissionController</servlet-name>
        <url-pattern>/deletepermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceController</servlet-name>
        <url-pattern>/resource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteResourceController</servlet-name>
        <url-pattern>/deleteresource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermissionRoleController</servlet-name>
        <url-pattern>/permissionrole</url-pattern>
        <url-pattern>/permissionrole/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoleController</servlet-name>
        <url-pattern>/deleterole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoleController</servlet-name>
        <url-pattern>/addrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/department</url-pattern>
        <url-pattern>/department/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDepartmentController</servlet-name>
        <url-pattern>/deletedepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailDepartmentController</servlet-name>
        <url-pattern>/detaildepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnitServlet</servlet-name>
        <url-pattern>/unit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierController</servlet-name>
        <url-pattern>/supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierController</servlet-name>
        <url-pattern>/deletesupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/createorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaterialsServlet</servlet-name>
        <url-pattern>/get-materials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/editorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupplierController</servlet-name>
        <url-pattern>/updatesupplier</url-pattern>
    </servlet-mapping>
    <!-- Cấu hình thời gian tồn tại của session -->
    <servlet-mapping>
        <servlet-name>NoPermissionController</servlet-name>
        <url-pattern>/nopermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaterialCategoryServlet</servlet-name>
        <url-pattern>/get-material-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubUnitServlet</servlet-name>
        <url-pattern>/subunit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryAuditController</servlet-name>
        <url-pattern>/inventoryaudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditListController</servlet-name>
        <url-pattern>/auditlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryAuditDetailController</servlet-name>
        <url-pattern>/inventoryauditdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveAuditController</servlet-name>
        <url-pattern>/approveaudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryHistoryServlet</servlet-name>
        <url-pattern>/inventoryhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportNoteListServlet</servlet-name>
        <url-pattern>/exportnotelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackOrderServlet</servlet-name>
        <url-pattern>/backorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialMonthlyStatsController</servlet-name>
        <url-pattern>/material-monthly-chart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
