<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryList</servlet-name>
        <servlet-class>controller.CategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermissionController</servlet-name>
        <servlet-class>controller.PermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPermissionController</servlet-name>
        <servlet-class>controller.AddPermissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePermissionController</servlet-name>
        <servlet-class>controller.DeletePermissionController</servlet-class>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryList</servlet-name>
        <url-pattern>/categorylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>MaterialDAO.java</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermissionController</servlet-name>
        <url-pattern>/permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPermissionController</servlet-name>
        <url-pattern>/addpermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePermissionController</servlet-name>
        <url-pattern>/deletepermission</url-pattern>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
</web-app>
